@font-face {
	font-family: BPdots;
	src: url("../fonts/BPdots/BPdotsSquare.otf");
}

html,
body {
	margin: 0;
	padding: 0;
	background: #111111;
	color: white;
	font-family: "BPdots";
}
.dna-container {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.nucleotide {
	display: inline-block;
	font-size: 15px;
}
